.chat-wrap {
  display: flex;
  margin-top: 4rem;
}

.chat-sidebar {
  width: 330px;
}
.chat-chatwindow {
  flex: 1;
}

.chat-empty {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.chat-empty-icon {
  font-size: 150px;
}
.chat-empty-text {
  font-size: 30px;
}
