.message-wrap {
  margin-bottom: 10px;
  display: flex;
  min-height: 36px;
}

.message-wrap-me {
  justify-content: flex-end;
  background-color: #0d6efd;
}

.message-author {
  margin-left: 5px;
  font-weight: bold;
}

.message-content {
  background-color: #efefef;
  padding: 7px 12px;
  margin-left: 10px;
  border-radius: 10px;
  max-width: 200px;
  height: auto;
}
