.login-container {
  width: 100vw;
  height: 100vh;
  background-image: url("../../../asset/login_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  .eye-icon {
    position: absolute;
    top: 7px;
    right: 10px;
  }
  .register-form {
    flex-direction: row-reverse;
    gap: 1em;
    color: #fff;
    a {
      color: #fff;
    }
  }
  h1 {
    color: #fff;
  }
}
