.profile-details {
  margin: 1rem 0;
  border-radius: 1rem;
  background-color: #fff;
  padding: 1rem;
  .update-button {
    border: 1px solid;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: #00b4ff;
    color: #fff;
    cursor: pointer;
    opacity: 60%;
    &:hover {
      opacity: 100%;
    }
  }
}

.avatar-profile {
  flex-direction: column;
}
