.list-notify {
  max-height: 40vh;
  overflow: auto;
  list-style: none;
  background-color: #cfd4d8;
  padding: 0;
  width: 350px;
  border-radius: 10px;
}

.item-notify {
  padding: 12px 12px;
  display: flex;
  background-color: #eaf2ff;
}

.item-notify-read {
  background-color: #fafcff;
}

.item-notify:hover {
  background-color: #bbbbbb;
}
.item-noti-avatar {
  margin-right: 10px;
}
.item-noti-text {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.item-noti-content {
  font-size: 15px;
}
.item-noti-time {
  font-size: 13px;
}
